.DS_Store
Tech_Challenge_Fase_01/venv/*
Tech_Challenge_Fase_02/venv/*
*__pycache__*
Tech_Challenge_Fase_01/Base_de_dados/insurance.csv
Tech_Challenge_Fase_04/.venv/*

Tech_Challenge_Fase_04/tmp/Unlocking Facial Recognition_ Diverse Activities Analysis.mp4
Tech_Challenge_Fase_04/output_detection_and_recognition_Unlocking Facial Recognition_ Diverse Activities Analysis.mp4
